<div class="container">
  <div class="card">
    <div class="card-header">
      Todos
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Due Date</th>
            <th>Description</th>
            <th>Is Done</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of todos">
            <td >{{t.id}}</td>
            <td>{{t.title}}</td>
            <td>{{t.dueDate}}</td>
            <td>{{t.description}}</td>
            <td><div class="form-check">
                <input type="checkbox" class="form-check-input" name="" id="" [(ngModel)]="t.isDone">
            </div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>